@model EmployeeCreateViewModel

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-controller="Employee" asp-action="Index">Employee List</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">New Employee</li>
                </ol>
            </nav><br />
            <form method="post" asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label asp-for="EmployeeNo"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" asp-for="EmployeeNo" placeholder="EMP000" />
                        <span asp-validation-for="EmployeeNo" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="DateJoined"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="date" class="form-control" asp-for="DateJoined" />
                        <span asp-validation-for="DateJoined" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label asp-for="FirstName"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" asp-for="FirstName" placeholder="Enter First Name" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-2">
                        <input type="text" class="form-control" asp-for="MidleName" placeholder="Enter Middle Name" />
                        <span asp-validation-for="MidleName" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="LastName"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" asp-for="LastName" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label asp-for="Gender"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <select asp-for="Gender" class="form-control">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                        <span asp-validation-for="EmployeeNo" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="DOB"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="date" class="form-control" asp-for="DOB" />
                        <span asp-validation-for="DOB" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label asp-for="NationalInsuranceNo"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" asp-for="NationalInsuranceNo" placeholder="Enter NI Number" />
                        <span asp-validation-for="NationalInsuranceNo" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="Email"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="email" class="form-control" asp-for="Email" placeholder="Enter Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label asp-for="Phone"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" asp-for="Phone" placeholder="Enter Phone Number" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="PaymentMethod"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <select asp-for="PaymentMethod" class="form-control" asp-items="Html.GetEnumSelectList<PaymentMethod>()"></select>
                        <span asp-validation-for="PaymentMethod" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label asp-for="StudentLoan"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <select asp-for="StudentLoan" class="form-control" asp-items="Html.GetEnumSelectList<StudentLoan>()"></select>
                        <span asp-validation-for="StudentLoan" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="UnionMember"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <select asp-for="UnionMember" class="form-control" asp-items="Html.GetEnumSelectList<UnionMember>()"></select>
                        <span asp-validation-for="UnionMember" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label asp-for="Designation"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" asp-for="Designation" placeholder="Enter Role" />
                        <span asp-validation-for="Designation" class="text-danger"></span>
                    </div>

                    <div class="col-md-2"></div>

                    <div class="form-group col-md-1">
                        <label asp-for="ImageUrl"></label>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="btn btn-primary btn-icon-text">
                            <i class="fas fa-cloud-upload-alt"></i>
                            <input type="file" value="Upload" asp-for="ImageUrl" />
                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Address"></label>
                    <input asp-for="Address" class="form-control" placeholder="Enter Address" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="City"></label>
                    <input asp-for="City" class="form-control" placeholder="Enter City" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Postcode"></label>
                    <input asp-for="Postcode" class="form-control" placeholder="Enter Post Code" />
                    <span asp-validation-for="Postcode" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-secondary btn-rounded float-left" style="margin-right:auto.7em">Submit</button>
                    <a asp-controller="Employee" asp-action="Index" class="btn btn-primary btn-rounded float-right" style="margin-right:auto.7em">Cancel</a>
                    <br />
                    <br />
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_validationScriptsPartial");
    }
}