<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pay1193</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Pay1193.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
</head>
<body>
    <div class="container-scroller">
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-grow">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo"><img src="~/images/Emp.gif" alt="logo" /> </a>
            </div>
        </nav>
        <div class="container-fluid page-body-wrapper">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#employee" aria-expanded="false">
                            <i class="fas fa-users fa-lg text-secondary" style="margin-right:auto.7em"></i>
                            <span class="menu-title">Employee</span>
                            <i class="menu-arrow text-secondary"></i>
                        </button>
                        <div class="collapse" id="employee">
                            <ul class="btn-toggle-nav list-unstyled flex-column sub-menu">
                                <li class="nav-item"><a asp-controller="Employee" asp-action="Create" class="nav-link">New Employee</a></li>
                                <li class="nav-item"><a asp-controller="Employee" asp-action="Index" class="nav-link">All Employess</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#payment" aria-expanded="false">
                            <i class="fas fa-pound-sign fa-lg text-primary" style="margin-right:auto.7em"></i>
                            <span class="menu-title">PayMent</span>
                            <i class="menu-arrow text-secondary"></i>
                        </button>
                        <div class="collapse" id="payment">
                            <ul class="btn-toggle-nav list-unstyled flex-column sub-menu">
                                <li class="nav-item"><a asp-controller="PaymentRecord" asp-action="Create" class="nav-link">New Payment Record</a></li>
                                <li class="nav-item"><a asp-controller="PaymentRecord" asp-action="Index" class="nav-link">Payment Record</a></li>
                            </ul>
                        </div>
                    </li>
                   
                   
                </ul>
            </nav>
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <footer>
                    <p>&copy; @DateTime.UtcNow.Year - Pay1193</p>
                </footer>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
